manifest {
    name = "cyclomics/wf-cyseq-amp"
    author = "Cyclomics"
    homePage = "https://www.cyclomics.com/"
    description = "CySeq analysis workflow for amplicon sequencing"
    mainScript = "main.nf"
    nextflowVersion = ">=23.04"
    version = "1.0.0"
}

epi2melabs {
    tags = 'wf-cyseq-amp,cyseq,amplicon,consensus,variant calling'
}

params {
    help = false
    sample_name = ""
    input_dir = ""
    reference = ""
    regions = ""
    skip_reference_subset = false
    target_depth = null
    output_dir = "output"
    
    read_pattern = "**.{fq,fastq,fq.gz,fastq.gz}"
    barcodes = ""
    stop_pattern = "sequencing_summary*.txt"

    split_fastq_by_size = true
    max_fastq_size = 40000

    genomes {
        'GRCh38.p14' {
            fasta = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz'
        }
        'GRCh37.p13' {
            fasta = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.13_GRCh37/GCF_000001405.13_GRCh37_genomic.fna.gz'
        }
        'Lambda' {
            fasta = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/840/245/GCF_000840245.1_ViralProj14204/GCF_000840245.1_ViralProj14204_genomic.fna.gz'
        }
        'dev' {
            fasta = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/840/245/GCF_000840245.1_ViralProj14204/GCF_000840245.1_ViralProj14204_genomic.fna.gz'
        }
    }

    genome_cache_dir = { "$workDir/cache/genome" }
    snpeff_cache_dir = { "$workDir/cache/snpeff" }

    containers {
        alpine = "alpine:3.23.3"
        ubuntu = "ubuntu:24.04"
        minimap2 = "staphb/minimap2:2.30"
        samtools = "staphb/samtools:1.23"
        seqkit = "staphb/seqkit:2.12.0"
        lofreq = "cyclomics/lofreq:2.1.5"
        alnutils = "cyclomics/aln-utils:0.3.0"
        cyseqtools = "cyclomics/cyseqtools:v0.0.10-alpha"
        snpeff = "staphb/snpeff:5.4c"
    }

    minimap2 {
        mode = "map-ont"
    }

    epi2me_report = false
    report_template = "${projectDir}/assets/report.html"

    max_cpus = 16
    max_memory = 32
}

executor {
    name   = 'local'
    cpus   = params.max_cpus
    memory = (params.max_memory as int).GB
}

process {
    resourceLimits = [
        cpus:   params.max_cpus,
        memory: (params.max_memory as int).GB
    ]
    errorStrategy = 'finish'
}

profiles {
    standard {
        docker {
            enabled = true
            writableInputMounts = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }
    docker_amd64 {
        docker.enabled = true
        docker.writableInputMounts = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    apptainer {
        apptainer {
            enabled = true
        }
    }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.output_dir}/execution/trace.txt"
}

cleanup = true
